
# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# VS Code
.vscode/

# Database (optional during development)
# database.db

# OpenCV model
trainer/*.yml
trainer/*.json

# macOS
.DS_Store
thumbs.db

